.shimmer-wrapper {
  position: relative;
  overflow: hidden;
  background-color: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #e9ecef 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  animation: shimmer 1.5s infinite linear;
  height: 160px;
  width: 280px;
}

.shimmer {
  height: 100%;
  width: 100%;
  color: transparent;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shimmer-wrapper {
  flex: 0 1 calc(33.33% - 20px);
}

@media (max-width: 1280px) {
  .shimmer-wrapper {
    flex: 0 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .shimmer-wrapper {
    flex: 0 1 calc(100% - 20px);
  }
}
